*{
    font-family:'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: auto;
    width: 50px;
    margin-left: 80px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: normal;
    margin-left: 10px;
}

header{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: auto;
    margin: 0;
}

.header-link{
    font-size: 18px;
    font-weight: lighter;
    color:#E5E7EB;
    margin-left: 15px;
    text-decoration: none;
}
.header-links{
    display: flex;
    margin-right: 80px;
}

.logo-section{
    display: flex;
    align-items: center;
}

footer{
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}
.footer-text{
    font-size: 18px;
    font-weight: lighter;
    color:#E5E7EB;
}
.contacts{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.contacts-header{
    color:#1F2937;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
